<template>
  <div class="sidebar">
    <h1>James Click</h1>
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link> |
    <router-link to="/posts">Blog</router-link>
  </div>
</template>

<script>
export default {
    name: "sidebar",

};
</script>

<style scoped>
.sidebar {
  padding-right: 0rem;
  padding-left: 0rem;
}

@media screen and (min-width: 1215px) {
  .sidebar {
    padding-right: 5rem;
    padding-left: 3rem;
  }
}
</style>