<template>
  <div id="app">
    <div class="flex-container">
      <sidebar/>
      <div class="content">
        <router-view />
      </div>
    </div>
  </div>
</template>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
}

@media screen and (min-width: 1215px) {
  #app {
    padding-top: 3rem;
  }
  .content {
    max-width:56rem;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
</style>
<script>
import sidebar from '@/components/sidebar.vue'

export default {
  components: {
    sidebar,
  }
}
</script>