<html>
    <head>
        <title>James' Site | {{ post.title }}</title>
        {% if post.style == "serif" %}
        <link rel="stylesheet" type="text/css" href="/s/sans.css"> 
        {% else %}
        <link rel="stylesheet" type="text/css" href="/s/default.css"> 
        {% endif %}
    </head>
    <body>
        {% if post.header is not defined %}
        <h1 style="margin-bottom: 1rem;">{{ post.title }}</h1>
        <h5>Written by: {{ post.author }} on {{ post.date }}</h5>
        <hr>
        {% endif %}
        {{ post.html|safe }}    
    </body>
</html>