<template>
  <div>
    <h1>About</h1>
    <p>
      James is a true creator at heart. He finds his outlet of choice to be either fiddling in Illustrator for hours on end or tinkering with random development projects when not already working on "official" projects. A few of his projects have migrated into official programs used by people across the nation,
      <a href="https://playcodecup.com">CodeCup</a> being a notable highlight.
    </p>

    <p>Raised in Southern California, he had an opportunity to immerse himself in a plethora of cultures and the beauties of diversity. He often found himself working at surf shop popular with visitors to learn more about the personalities of abroad.</p>

    <p>
      Currently, he works with
      <a href="https://srnd.org">SRND</a> as a Graphic Designer to create greater worldwide diversity in Computer Science. Previously working with organizations like CYMER Digital Studio to empower at-risk teens with creative outlets, he finds that individuals who have the tools to create will become unstoppable in their passion.
    </p>
    <vue-markdown v-bind:source="yeet" />
  </div>
</template>

<script>
import VueMarkdown from "vue-markdown";
import axios from "axios";

export default {
  name: "About",
  components: {
    VueMarkdown
  },
  data() {
    return {
      yeet: [],
      errors: []
    };
  },
  created() {
    axios.get("@/assets/about.md").then(response => {
      this.yeet = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  }
};
</script>

<style>
</style>