<template>
  <div>
    <h1>Blogposts</h1>
    <div v-if="loading">
      <p>Loading</p>
    </div>
    <ul>
      <li v-for="obj in posts" v-bind:key="obj">
        {{obj.date}} - <router-link :to="obj.url">{{obj.title}}</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";
import { setupCache } from 'axios-cache-adapter';

const cache = setupCache({
  maxAge: 15 * 60 * 1000
})

const api = axios.create({
  adapter: cache.adapter
})

export default {
  name: 'home',
  components: {
  },
  data() {
    return {
      posts: [],
      errors: [],
      loading: false
    }
  },

  created() {
    this.loading = true
    api({
      url: `${process.env.VUE_APP_API_SERVER}/posts/`,
      method: 'get'
    }).then(response => {
      this.posts = response.data
      this.loading = false
    }).catch(e => {
      this.errors.push(e)
    })
  }
}
</script>
