<template>
<div>
    <div v-if="loading">
      <p>Loading</p>
    </div>
    <h1>{{post.metadata.title}}</h1>
    <vue-markdown v-bind:source="post.markdownBody"/>
</div>
</template>

<script>
import axios from "axios";
import VueMarkdown from 'vue-markdown';
import { setupCache } from 'axios-cache-adapter';

const cache = setupCache({
  maxAge: 15 * 60 * 1000
})

const api = axios.create({
  adapter: cache.adapter
})

export default {
  name: "Post",
  components: {
      VueMarkdown,
  },
  data() {
    return {
      post: [],
      errors: [],
      loading: false
    }
  },

  created() {
    this.loading = true
    api({
      url: `${process.env.VUE_APP_API_SERVER}/posts/${this.$route.params.slug}/`,
      method: 'get'
    }).then(response => {
      this.post = response.data
      this.loading = false
    }).catch(e => {
      this.errors.push(e)
    })
  }
}
</script>

<style>
</style>